@model Entities.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelle</h2>
<br />
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Id")
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Üst Kategori Id")
        @Html.TextBoxFor(x => x.ParentCategoryId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ParentCategoryId)
        <br /><br />
        @Html.Label("Silinme Durumu")
        @Html.TextBoxFor(x => x.IsDeleted, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Oluşturulma Zamanı")
        @Html.TextBoxFor(x => x.CreateDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        <br /><br />
        @Html.Label("Oluşturan Kişi Id")
        @Html.TextBoxFor(x => x.CreateUserId, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}
