@model Entities.Concrete.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Ekle</h2>
<br />
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Adınız")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br /><br />
        @Html.Label("Soyadınız")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
        <br /><br />
        @Html.Label("Kullanıcı Adınız")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserName)
        <br /><br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.Saltpassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Saltpassword)
        <br /><br />
        <button>Kaydet</button>
    </div>
}

